{% extends 'layout/layoutOriginal.html' %}

{% block body_class %}class="home-background" style="overflow: visible !important;"{% endblock %}

{% block 'content' %}

<div class="d-flex justify-content-left vh-100">
    <div class="container mt-3">
        <div class="p-3 mx-auto rounded bg-white" style="width: 110%;">
            <div class="aboutus">
                <h1 class="text-center font-weight-bold mb-2" style="color: #ff9c22;">Pharma<span style="color: #64c4d1;">Lore</span></h1>
                <h6 class="text-center font-weight-bold mb-4" style="color: #ff9c22;">India's No. 1 Medicine Delivery Platform</h6>

                <h4>Your Trusted Partner in Health</h4>
                <img src="/static/logo.png" class="img-fluid" alt="PharmaLore Logo" width="700px" height="400px">
                <p class="about-para">Welcome to PharmaLore – India's leading medicine delivery website. Experience the convenience of getting your medicines delivered directly to your doorstep.<br>
                    
                    <span style="font-weight: bold;">Why PharmaLore?</span><br>
                    
                    🚚 Swift Delivery: Get your medicines delivered quickly and efficiently.<br>
                    🛡️ Trustworthy Service: We prioritize accuracy, reliability, and your well-being.<br>
                    💊 Wide Range: Find a comprehensive selection of medicines and healthcare products.<br>
                    🌐 Easy Ordering: User-friendly platform for a seamless ordering experience.<br>
                    🤝 Community-Centric: Engage with us and fellow users for health-related discussions.<br>
                    
                    Discover a new era of hassle-free medicine procurement with PharmaLore. Your health is our priority.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
